
<!-- <textarea id="myTextarea1" style=" resize: none; border: none ">
{{ name }}
</textarea> -->

<!-- <button type="button" id="myButton" onclick="openWin()">Open Google in New Tab</button> -->
<button onclick="openWin()">Open "myWindow"</button>
<button onclick="closeWin()">Close "myWindow"</button>

<div>
  <input type="button" onclick="startArtyom()" value="Start voice commands" /><br>
  <input type="button" onclick="stopArtyom()" value="Stop listening" /><br>
<!--      <span id="output"></span>-->
</div>

<!-- <textarea id="myTextarea1" style=" resize: none; border: none ">
{{ name }}
</textarea> -->

Address:<br>
<textarea id="myTextarea" rows="6", cols="60">
342 Alvin Road
Ducksburg</textarea>

<p>Click the button to alert the contents of the text area.</p>

<button type="button" onclick="myFunction()">Try it</button>

<p id="demo"></p>

<span id="output"></span><br/>
<span id="out"></span>

<div id='first'>
  <button type="button" name="button" id="firstBtn">Button</button>
</div><br/>
